<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

<div id="app">

    <label>Please enter your name:</label>
    <input v-model="name"> <!--Model is a variable that changes and updates in real time-->

    <p v-if="name">Thanks, your name is {{ name }}</p>  <!--v-if checks if the name function has a value (theres text in it)-->
    <p v-else>Awaiting user input</p>

    <button v-on:click="clearName" v-if="name">Clear Name</button>

</div>


<script>

    const {createApp, ref } = Vue

    createApp({
        setup() {
            
            const name = ref('') //empty string

            function clearName() {
                name.value = ''
            }

            return {
                name,
                clearName
            }

        }
    }).mount('#app')


</script>

</body>